#pragma once

// Скопируй этот файл в include/secrets.h и заполни значения.
// secrets.h в git не попадает.

#define WIFI_SSID "your-wifi-name"
#define WIFI_PASSWORD "your-wifi-password"

#define SPOTIFY_CLIENT_ID "your_client_id"
#define SPOTIFY_CLIENT_SECRET "your_client_secret"
#define SPOTIFY_REFRESH_TOKEN "your_refresh_token"
